body{
    background: #ffffff;
}

.jumbotron {
    background-image: url("https://picsum.photos/id/10/2500/700");
    /* background-attachment: fixed; */
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   }


.tagphrase{
    font-size: 10rem;
    text-align: center;
    
}

.tagcontainer{
    background-color: rgba(240, 248, 255, 0.89);
}

.tagsecond{
    font-size: 4rem;
    text-align: center;
}

.rounded-circle{
    height: 18rem;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    /* Apply styles for screens with a maximum width of 576px (adjust this value as needed) */
    .tagphrase {
        font-size: 5rem; /* Font size for even smaller screens */
    }
    .tagsecond {
        font-size: 3rem;
    }
    .rounded-circle {
        height: 15rem; /* Height for smaller screens */
    }
}

@media screen and (max-width: 780px) {
    /* Apply styles for screens with a maximum width of 768px (adjust this value as needed) */
    .tagphrase {
        font-size: 3rem; /* Font size for smaller screens */
    }
    .tagsecond{
        font-size: 2rem;
    }
    .col-form-label {
        text-align: start; /* Adjust the text alignment of the labels on smaller screens */
    }

}

@media screen and (max-width: 576px) {
    /* Apply styles for screens with a maximum width of 576px (adjust this value as needed) */
    .tagphrase {
        font-size: 2rem; /* Font size for even smaller screens */
    }
    .tagsecond{
        font-size: 1rem;
    }

    .pe-md-5, .rounded-circle {
        padding-right: 1rem; /* Adjust the right padding on small screens */
    }
    /* .formlabel {
        text-align: start; /* Adjust the text alignment of the labels on smaller screens */
    /* } */
}

