<!-- your html code here -->
<div class="container-fluid bg-white p-5 my-5" id="contact">
    <div class="d-flex justify-content-center mb-5 pe-5 me-5 ps-5 mt-5">
        <div class="col-12 border-top border-3">
        </div>
    </div>
    <div class="pb-4 ps-5 pe-5">
        <h1>Contact</h1>
        <p class="fs-4 pe-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis varius orci, ut
            varius magna ultricies in.
            Mauris at ullamcorper eros. Proin dictum tempus sapien, at viverra nunc. Sed consectetur scelerisque purus a
            ornare.
            Vestibulum at fringilla nisl. Mauris elit nulla, malesuada vel dui sed, semper semper ante. Morbi ipsum
            quam,
            malesuada vitae lectus sit amet, dapibus commodo metus. Nulla suscipit urna consequat tellus euismod, et
            pellentesque magna tristique. Morbi at euismod nisl. Donec fermentum massa lectus, quis pellentesque enim
            tempor
            cursus.
        </p>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <div class="bg-light border border-secondary rounded-2 shadow-lg col-6 m-4 p-3">
            <form>
                <div class="m-3">
                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-form-label fw-bold fs-4 text-end justify-content-start ">Your
                            E-mail</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control fs-4" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Message" class="col-sm-2 col-form-label fw-bold fs-4 text-end justify-content-start">Your
                            Message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control fs-4" id="Message" rows="4"
                                placeholder="Please enter your message here..."></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary d-flex ms-auto fs-4 shadow-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>