<!-- your html code here -->
<div class="container-fluid pt-5 border border-primary bg-white">
     <div class="row">
        <div class="col-8">
            <div class="me-3 ps-5 pt-5 pe-2">
                <div class="d-inline-flex p-0">
                    <h2 class="d-flex text-capitalize">This first heading</h2>
                </div>
                <div class="d-inline-flex p-0">
                    <h2 class="d-flex text-capitalize text-secondary">Will catch your eye</h2>
                </div>
                <div class="p-0">
                    <span class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                        viverra at ligula sit amet faucibus. Vivamus vulputate nec lacus et hendrerit. Sed justo
                        neque, commodo a vehicula nec, venenatis in risus. In sodales gravida nisi, sed
                        efficitur nibh tincidunt ac. Cras sed justo eget mi mattis rutrum. Nulla ligula
                        ante.</span>
                </div>
            </div>
        </div>

        <div class="col-4 border border-secondary d-flex ps-5 pt-5 pb-2">
            <img src="https://picsum.photos/id/237/200/" class="rounded-circle" alt="Cinque Terre">
        </div>
    </div>

</div>