<!-- your html code here -->
<div class="container-fluid pt-5 bg-white ps-5 mt-5 mb-5" id="About">
    <div class="d-flex justify-content-center mb-5 pe-5 me-5 ps-5 mt-5">
        <div class="col-12 border-top border-3">
        </div>
    </div>
     <div class="row">
        <div class="col-md-8">
            <div class="me-3 ps-5 pt-5 pe-2">
                <div class="d-inline-flex p-0">
                    <h2 class="d-flex text-capitalize">This first heading</h2>
                </div>
                <div class="d-inline-flex p-0">
                    <h2 class="d-flex text-capitalize text-secondary">Will catch your eye</h2>
                </div>
                <div class="pb-sm-2">
                    <span class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis varius orci, ut
                        varius magna ultricies in.
                        Mauris at ullamcorper eros. Proin dictum tempus sapien, at viverra nunc. Sed consectetur scelerisque purus a
                        ornare.
                        Vestibulum at fringilla nisl. Mauris elit nulla, malesuada vel dui sed, semper semper ante. Morbi ipsum
                        quam,
                        malesuada vitae lectus sit amet, dapibus commodo metus. Nulla suscipit urna consequat tellus euismod, et
                        pellentesque magna tristique. Morbi at euismod nisl. Donec fermentum massa lectus, quis pellentesque enim
                        tempor
                        cursus.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex ps-md-3 pt-md-5 pb-md-2 pe-md-2 pt-5 justify-content-center mb-5">
            <img src="https://picsum.photos/id/237/1200/" class="rounded-circle shadow-lg" alt="">
        </div>
    </div>

</div>