<!-- your html code here -->
<div class="container-fluid bg-white ps-5 mt-5 mb-5" id="portfolio">
    <div class="d-flex justify-content-center mb-5 pe-5 me-5 ps-5 mt-5">
        <div class="col-12 border-top border-3">
        </div>
    </div>
    <div class="ps-5 pe-5">
        <h1>Portfolio</h1>
        <p class="fs-4 pe-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non molestie sem, convallis
            blandit velit. Curabitur vel venenatis dui, vel hendrerit lorem. Ut aliquet eleifend ligula, a congue est
            rutrum a. Maecenas at lacus a est mattis pretium. Aliquam porta libero a magna mattis consequat. Nullam
            cursus, augue sed sagittis mollis, augue nibh pulvinar est, interdum dapibus augue tellus sit amet lacus.
        </p>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 gy-3">
            <div class="card shadow-lg">
                <div class="img-fluid ratio ratio-4x3">
                    <img src="https://cdn.pixabay.com/photo/2018/08/12/16/59/parrot-3601194_640.jpg"
                        class="card-img-top object-fit-cover" alt="...">
                </div>
                <div class="card-body">
                    <h2>Project Name</h2>
                    <p class="card-text fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non
                        molestie sem, convallis blandit velit. Curabitur vel venenatis dui, vel hendrerit lorem. Ut
                        aliquet eleifend ligula, a congue est rutrum a.</p>
                    <a href="#" class="btn btn-success fs-4 shadow-lg">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 gy-3">
            <div class="card shadow-lg">
                <div class="img-fluid ratio ratio-4x3">
                    <img src="https://cdn.pixabay.com/photo/2017/05/31/18/38/sea-2361247_640.jpg"
                        class="card-img-top object-fit-cover" alt="...">
                </div>
                <div class="card-body">
                    <h2>Project Name</h2>
                    <p class="card-text fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non
                        molestie sem, convallis blandit velit. Curabitur vel venenatis dui, vel hendrerit lorem. Ut
                        aliquet eleifend ligula, a congue est rutrum a.</p>
                    <a href="#" class="btn btn-success fs-4 shadow-lg">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 gy-3">
            <div class="card shadow-lg">
                <div class="img-fluid ratio ratio-4x3">
                    <img src="https://cdn.pixabay.com/photo/2018/07/31/22/08/lion-3576045_640.jpg"
                        class="card-img-top object-fit-cover" alt="...">
                </div>
                <div class="card-body">
                    <h2>Project Name</h2>
                    <p class="card-text fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non
                        molestie sem, convallis blandit velit. Curabitur vel venenatis dui, vel hendrerit lorem. Ut
                        aliquet eleifend ligula, a congue est rutrum a.</p>
                    <a href="#" class="btn btn-success fs-4 shadow-lg">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>