<div class="container">
    <div class="row">
        <div class="col-3 ">
            <div class="ratio ratio-1x1">
            <img class=" rounded-circle img-fluid object-fit" style="object-fit: cover;" src="https://pbs.twimg.com/media/Fr60LpDXoAAzuCA.jpg">
            </div>
        </div>
        <div class="col-9 d-flex mt-5 ">
            <div class="d-inline">
                <div class="d-inline">
                    <h2 class="d-inline">The Second Heading is   </h2><h2 class="d-inline text-secondary">Is Pretty cool too</h2>
                </div>
                <div>
                    <span class="fs-4">Lorem ipsum dolor sit amet consectetur adipiscing elit nisi elementum, morbi vestibulum eu nisl purus
                        nunc habitant eros tristique, cum integer rutrum nulla euismod augue ornare donec. Aptent sodales dictumst
                        primis imperdiet euismod pellentesque proin laoreet bibendum fusce, tortor iaculis nascetur suscipit enim 
                        rhoncus viverra dui.</span>
                </div>
            </div>           
        </div>
    </div>
</div>
</div>