<div class="container-fluid bg-white mt-5 mb-5" id="services">
    <div class="d-flex justify-content-center mb-5 pe-5 me-5 ps-5 mt-5">
        <div class="col-12 border-top border-3">
        </div>
    </div>
    <div class="row">
        <div class="col-4 d-flex justify-content-center pt-5 ps-5 mb-5">
                <img class="rounded-circle shadow-lg" src="https://picsum.photos/id/3/1200/">
        </div>
        
        <div class="col-8">
            <div class="me-2 ps-0 pt-5 pe-5">
                <div class="d-inline-flex p-0">
                    <h2 class="d-flex">The Second Heading is </h2>
                </div>
                <div class="d-inline-flex ps-2">
                    <h2 class="d-flex text-secondary">Is Pretty Cool Too</h2>
                </div>
                <div class="pe-5 mb-5">
                    <span class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis varius orci, ut
                        varius magna ultricies in.
                        Mauris at ullamcorper eros. Proin dictum tempus sapien, at viverra nunc. Sed consectetur scelerisque purus a
                        ornare.
                        Vestibulum at fringilla nisl. Mauris elit nulla, malesuada vel dui sed, semper semper ante. Morbi ipsum
                        quam,
                        malesuada vitae lectus sit amet, dapibus commodo metus. Nulla suscipit urna consequat tellus euismod, et
                        pellentesque magna tristique. Morbi at euismod nisl. Donec fermentum massa lectus, quis pellentesque enim
                        tempor
                        cursus.
                   </span>
                </div>
            </div>           
        </div>
    </div>
</div>
